.checkbox-group {
display: flex;
}

.checkbox-group > div {
margin-right: 10px;
}

input[type=checkbox] {
display: none;
}

input[type=checkbox] + label::after {
content: " ";
display:flex;
justify-content: center;
border: 1px solid #dbdbdb;
border-radius: 50%;
width: 45px;
height: 45px;
font-size: 30px;
color: white;
line-height: 39px;
}

input[type=checkbox]:checked + label::after {
content: "●";
color: indianred;
}


  