
*{
    box-sizing: border-box;
}


html,body{

    height: 100%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;

}

.img-box{
    width: 200px;
    height: 200px;
    border: 5px solid #eee;
    border-radius: 30%;

    overflow: hidden;
}


.html-img{
    width: 100%;
}