

*{
    box-sizing: border-box;
}

html,body{

    height: 100%
}

body{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #121212;
}
.img-box{
    width: 200px;
    height: 200px;
    border: 5px solid #eee;
    border-radius: 50%;

    overflow: hidden;
}

/* 부모 img-box의 width 200px의 100% */
.html-img{
    width: 100%;
}